{{^if custom_page}}
<header class="header-section">
	<div class="header-wrap">
		<div class="header-logo">
			{{#if @site.logo}}
			<a href="https://derivlife.com/" class="is-image deriv-life-logo"><img src="{{@site.logo}}" alt="{{@site.title}}"></a>
			{{else}}
			<a href="https://derivlife.com/" class="is-title">{{@site.title}}</a>
			{{/if}}
			<a href="https://deriv.com/" class="is-image deriv-logo">
				<span class="partnership-text">Sponsored by</span>
				{{>icons/site/derivlogo}}
			</a>
		</div>
		<div class="header-nav">
			<input id="toggle" class="header-checkbox" type="checkbox">
			<label class="header-toggle" for="toggle">
				<span>
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</span>
			</label>
			<nav>
				{{navigation}}
				{{>search enabled_search=true}}
			</nav>
		</div>
	</div>
</header>
{{else}}
<header class="header-section">
	<div class="header-wrap">
		<div class="header-logo">
			<a class="is-image" href="https://derivlife.com/"> <img src="{{@site.logo}}" alt="{{@site.title}}"></a>
			<a href="https://deriv.com/" class="is-image deriv-logo">
				{{>icons/site/derivlogo}}
			</a>
		</div>
	</div>
</header>
{{/if}}