<article class="item {{post_class}}">
	<a href="{{url}}" class="global-link" aria-label="{{title}}"></a>

	<div class="item-content">

		<h2 class="item-title"><a href="{{url}}">{{title}}</a></h2>
		<div class="item-meta global-meta global-pointer">
			{{^if section_item}}
			{{#has author="count:1"}}
			{{authors}}
			{{else has author="count:2"}}
			{{authors separator=(t " & ")}}
			{{else has author="count:>2"}}
			{{authors limit="1"}}
			{{t "and others"}}
			{{/has}}
			{{else}}
			{{#has author="count:1"}}
			{{authors}}
			{{else has author="count:>1"}}
			{{authors limit="1"}}
			{{t "and others"}}
			{{/has}}
			{{/if}}
		</div>
		{{#if excerpt}}
		<p class="item-excerpt global-excerpt">
			{{excerpt words="28"}}...
		</p>
		{{/if}}
		{{else}}
		<p class="item-excerpt global-excerpt">
			{{custom_excerpt}}
		</p>
		{{/if}}
		{{/if}}
		{{/if}}
	</div>
</article>