<div class="loop-section">
	{{^is "author, tag"}}
	<div class="loop-subtitle global-title-wrap">
		<h3 class="global-title-large">{{{t "See what we’ve {start-italic}written lately{end-italic}" start-italic="<span>" end-italic="</span>"}}}</h3>
		{{#get "authors" limit="5" include="count.posts" order="count.posts desc"}}
		<div class="loop-authors global-authors">
			{{#foreach authors to="4"}}
			<div class="global-author-item{{#if profile_image}} is-image global-image{{/if}}{{#if @last}} is-last{{/if}}">
				<a href="{{url}}" class="global-link" title="{{name}}"></a>
				{{#if profile_image}}
				{{>images/archive_image archive_image=profile_image alt=name}}
				{{else}}
				<span>{{name}}</span>
				{{/if}}
			</div>
			{{/foreach}}
			{{#foreach authors}}
			{{#if @last}}
			{{#has number="1"}}
			<span>{{t "Meet our author"}}</span>
			{{else has number="2,3,4"}}
			<span>{{t "Meet our authors"}}</span>
			{{else}}
			<span>{{t "Meet our top authors"}}</span>
			{{/has}}
			{{/if}}
			{{/foreach}}
		</div>
		{{/get}}
	</div>
	{{/is}}
	<div class="loop-wrap">
		{{#foreach posts}}
		{{>item show_tags=true}}
		{{/foreach}}
		<iframe name="marinetraffic" id="marinetraffic" width="100%" height="650" scrolling="no" frameborder="1" src="https://www.marinetraffic.com/en/ais/embed/zoom:17/centery:37.4460/centerx:24.9467/maptype:1/shownames:false/mmsi:228096920/shipid:0/fleet:/fleet_id:/vtypes:/showmenu:/remember:false">Browser does not support embedded objects.<br/>Visit directly <a href="http://www.marinetraffic.com/">www.marinetraffic.com</a></iframe>
	</div>
</div>