{{! Header navigation }}

{{^if isSecondary}}
<ul>
	{{#foreach navigation to="3"}}
	<li><a href="{{url absolute="true"}}"{{#if current}} class="is-active"{{/if}}>{{label}}</a></li>
	{{/foreach}}
</ul>
{{else}}


{{! Footer navigation }}

{{#foreach navigation limit="3"}}
{{#if @first}}
<div class="footer-nav-column">
	<small>{{t "About us"}}</small>
	<ul>
		{{/if}}
		<li><a href="{{url absolute="true"}}">{{label}}</a></li>
		{{#if @last}}
	</ul>
</div>
{{/if}}
{{/foreach}}

{{#foreach navigation limit="3" from="4"}}
{{#if @first}}
<div class="footer-nav-column">
	<small>{{t "Column 2"}}</small>
	<ul>
		{{/if}}
		<li><a href="{{url absolute="true"}}">{{label}}</a></li>
		{{#if @last}}
	</ul>
</div>
{{/if}}